.main-container {
	height: 100vh !important;
	margin: 0;
	padding: 1em;
}

.invalid-feedback {
	color: var(--ion-color-danger);
	margin: 0.5em 0;
	padding: 0;
}

.login-title {
	font-weight: 600;
}

.login-logo {
	max-height: 12rem;
}

