.review-button {
    height: 2.5em;
    width: 8em;
    font-weight: 600;
}


.overme {
    overflow:hidden !important; 
    white-space:nowrap !important; 
    text-overflow: ellipsis !important;
    color: red;
}

.appointment-information {
    padding: 0.8em
}

.appointment-date {
    font-size: 1.6em;
    font-weight: 600;
}

.appointment-hour {
    display: flex !important;
    align-items: center;
}

.appointment-hour span {
    margin-left: 0.3em;
}